body {
	background-color:#f83;
	font-family:"MS PGothic";
}

li {
    display:inline-block;
    background-color:#eee;
}

nav ul li a {
  text-decoration: none;
  color: #999;
  font-size:150%;
  font-weight: bold;
  padding: 10px 5px;
}